<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    {% style %}
            
        :root {
            --primary-color: {{ settings.primary_color }};
            --secondary-color: {{ settings.secondary_color }};
            --third-color: {{ settings.third_color }};
            --fourth-color: {{ settings.fourth_color }};

            --bg-color-1: {{ settings.bg_color_1 }};
            --bg-color-2: {{ settings.bg_color_2 }};
            --bg-color-3: {{ settings.bg_color_3 }};
        }

    {%- endstyle -%}

    {{ 'line-awesome.min.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap-grid.min.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'scripts.js' | asset_url | script_tag }}
    
    {{ content_for_header }}
</head>
<body>
    <div class="container-wrapper">
        <div class="sidebar-menu">
            {% section 'sidebar-menu' %}
        </div>
        <div class="container-inner">
            <div class="menu-overlay"></div>
            {% section 'header' %}
            {{ content_for_layout }}
            {% section 'footer' %}
        </div>
    </div>
</body>
</html>