{{ 'footer.css' | asset_url | stylesheet_tag }}
{{ 'footer.js' | asset_url | script_tag }}
<footer>
    <div class="{{section.id}} footer-layout-{{section.settings.layout}}">
        <div class="container">
            {% if section.settings.ck_email_signup %}
                <div class="row">
                    <div class="email-signup-container col-lg-6 offset-lg-3">
                        <div class="email-signup-text">
                            <div class="title">
                                {{ section.settings.title }}
                            </div>
                            <div class="sub-title">
                                {{ section.settings.sub_title }}
                            </div>
                        </div>
                        {%- form 'customer' -%}
                            <input type="hidden" name="contact[tags]" value="subscriber">
                            <div class="email-signup-wrapper">
                                <div class="field row">
                                    <input 
                                        class="col subscribe-email" 
                                        type="email" 
                                        name="contact[email]" 
                                        value="{{ form.email }}"
                                        placeholder="{{section.settings.placeholder}}">
                                    <button type="submit" class="submit-btn">
                                        {{ section.settings.text_button }}
                                    </button>
                                </div>
                            </div>
                            {% if form.posted_successfully? %}
                                <div class="subscribe-success">
                                    {{ section.settings.success_text }}
                                    {% render "icon-check" %}
                                </div>
                            {% endif %}
                        {%- endform -%}
                    </div>
                </div>
            {% endif %}
            <div class="row footer-detail">
                <div class="col-5 col-md-5 col-lg-3 col-xl-3 contact">
                    <div class="contact-header">
                        {{section.settings.contact_header}}
                    </div>
                    <div class="phone">
                        {% render "icon-phone" %}
                        <div class="text-number">
                            <div class="text">{{section.settings.phone_text}}</div>
                            <div class="number">{{section.settings.phone_number}}</div>
                        </div>
                    </div>
                    <div class="mail">
                        {% render "icon-mail" %}
                        <div class="text-address">
                            <div class="text">{{section.settings.mail_text}}</div>
                            <div class="address">{{section.settings.mail_address}}</div>
                        </div>
                    </div>
                </div>
                {% for block in section.blocks %}
                    <ul class="col-5 col-md-3 col-lg-2 col-xl-2 custom-link" {{ block.shopify_attributes }}>
                        <li class="custom-link-header">{{block.settings.header}}</li>
                        <li class="item"><a class="link-item" href="{{block.settings.link1_url}}">{{block.settings.link1_title}}</a><li>
                        <li class="item"><a class="link-item" href="{{block.settings.link2_url}}">{{block.settings.link2_title}}</a><li>
                        <li class="item"><a class="link-item" href="{{block.settings.link3_url}}">{{block.settings.link3_title}}</a><li>
                        <li class="item"><a class="link-item" href="{{block.settings.link4_url}}">{{block.settings.link4_title}}</a><li>
                        <li class="item"><a class="link-item" href="{{block.settings.link5_url}}">{{block.settings.link5_title}}</a><li>
                    </ul>
                {% endfor %}
                <div class="col-8 col-md-6 col-lg-3 col-xl-3 row social-app-payment">
                    {% if section.settings.ck_social %}
                        <div class="social-network">
                            <div class="social-header">{{section.settings.social_header}}</div>
                            {% if settings.facebook.size > 0 %}
                                <a class="facebook" href="{{settings.facebook}}">
                                    {% render "icon-facebook" %}
                                </a>
                            {% endif %}
                            {% if settings.twitter.size > 0 %}
                                <a class="twitter" href="{{settings.twitter}}">
                                    {% render "icon-twitter" %}
                                </a>
                            {% endif %}
                            {% if settings.instagram.size > 0 %}
                                <a class="instagram" href="{{settings.instagram}}">
                                    {% render "icon-instagram"%}
                                </a>
                            {% endif %}
                            {% if settings.linken.size > 0 %}
                                <a class="linken" href="{{settings.linkedin}}">
                                    {% render "icon-linken" %}
                                </a>
                            {% endif %}
                            {% if settings.youtube.size > 0 %}
                                <a class="youtube" href="{{settings.youtube}}">
                                    {% render "icon-youtube"%}
                                </a>
                            {% endif %}
                            {% if settings.tiktok.size > 0 %}
                                <a class="tiktok" href="{{settings.tiktok}}">
                                    {% render "icon-tiktok"%}
                                </a>
                            {% endif %}
                            {% if settings.pinterest.size > 0 %}
                                <a class="pinterest" href="{{settings.pinterest}}">
                                    {% render "icon-pinterest" %}
                                </a>
                            {% endif %}
                            {% if settings.snapchat.size > 0 %}
                                <a class="snapchat" href="{{settings.snapchat}}">
                                    {% render "icon-snapchat" %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if section.settings.ck_mobile_apps %}
                        <div class="mobile-apps">
                            <div class="mobile-apps-header">{{section.settings.apps_header}}</div>
                            {% if section.settings.ios_text.size > 0 %}
                            <div class="ios">
                                <a href="{{section.settings.ios}}">
                                    {% render "icon-ios" %}
                                    {{ section.settings.ios_text}}
                                </a>
                            </div>
                            {% endif %}
                            {% if section.settings.android_text.size > 0 %}
                            <div class="android">
                                <a href="{{section.settings.android}}">
                                    {% render "icon-android" %}
                                    {{ section.settings.android_text}}
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if section.settings.ck_payment %}
                        <div class="payment-method">
                            <div class="payment-header">{{section.settings.payment_header}}</div>
                            <ul class="payment-list">
                                {% for type in shop.enabled_payment_types %}
                                  <li class="payment-item">
                                    {{ type | payment_type_svg_tag: class: 'icon-payment' }}
                                  </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row copyright-unit-language">
                <div class="copyright-term">
                    {% if section.settings.license.size > 0 %}
                        <div class="license">
                            © {{ "now" | date: "%Y" }} {{ section.settings.license }}
                        </div>
                    {% endif %}
                    <div class="term-wrapper">
                        {% if section.settings.privacy.size > 0 %}
                            <a href="{{section.settings.privacy_url}}">{{section.settings.privacy}}</a>
                        {% endif %}
                        {% if section.settings.terms.size > 0 %}
                            <a href="{{section.settings.terms_url}}">{{section.settings.terms}}</a>
                        {% endif %}{% if section.settings.sitemap.size > 0 %}
                            <a href="{{section.settings.sitemap_url}}">{{section.settings.sitemap}}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="unit-language">

                    <noscript>
                        {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                          <div class="localization-form__select">
                            <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                            <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                              {%- for language in localization.available_languages -%}
                                <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                                  {{ language.endonym_name | capitalize }}
                                </option>
                              {%- endfor -%}
                            </select>
                            {% render 'icon-caret' %}
                          </div>
                          <button class="button button--tertiary">{{ localization.update_language }}</button>
                        {%- endform -%}
                      </noscript>
            
                      <localization-form>
                        {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                          <div class="no-js-hidden">
                            <h2 class="caption-large text-body" id="FooterLanguageLabel">{{localization.language_label }}</h2>
                            <div class="disclosure">
                              <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                                {{ localization.language.endonym_name | capitalize }}
                              </button>
                              <div class="disclosure__list-wrapper" hidden>
                                <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                                  {%- for language in localization.available_languages -%}
                                    <li class="disclosure__item" tabindex="-1">
                                      <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                                        {{ language.endonym_name | capitalize }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                            <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                          </div>
                        {%- endform -%}
                      </localization-form>

                </div>
            </div>
        </div>
    </div>
</footer>

{% style %}
    .footer-layout-{{section.settings.layout}}{
        background-color: {{section.settings.color_background}};
    }
{% endstyle %}

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Choose Layout",
            "options":[
                {
                    "value": "1",
                    "label": "Layout 1"
                },
                {
                    "value": "2",
                    "label": "Layout 2"
                },
                {
                    "value": "3",
                    "label": "Layout 3"
                }
            ],
            "default": "1"
        },
        {
            "type": "header",
            "content": "Email Signup"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Signup title",
            "default": "Subscribe and get 20% discount."
        },
        {
            "type": "text",
            "id": "sub_title",
            "label": "Signup Subtitle",
            "default": "Subscribe and get 20% discount."
        },
        {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder for Email signup",
            "default": "Your email address"
        },
        {
            "type": "text",
            "id": "text_button",
            "label": "Text button",
            "default": "Subscribe"
        },
        {
            "type": "text",
            "id": "success_text",
            "label": "Success Text",
            "default": "Subscribe Success"
        },
        {
            "type": "checkbox",
            "id": "ck_email_signup",
            "label": "Display Email Signup?",
            "default": true
        },
        {
            "type": "color",
            "id": "color_background",
            "label": "Background Color"
        },
        {
            "type": "header",
            "content": "Contact"
        },
        {
            "type": "text",
            "id": "contact_header",
            "label": "Header",
            "default": "Contact Us"
        },
        {
            "type": "text",
            "id": "phone_text",
            "label": "Phone Text",
            "default": "Monday-Friday: 08am-9pm"
        },
        {
            "type": "text",
            "id": "phone_number",
            "label": "Phone Number",
            "default": "+(1) 123 456 7890"
        },
        {
            "type": "text",
            "id": "mail_text",
            "label": "Mail Text",
            "default": "Need help with your order?"
        },
        {
            "type": "text",
            "id": "mail_address",
            "label": "Mail Address",
            "default": "support@zeomart.com"
        },
        {
            "type": "header",
            "content": "Social Network",
            "info": "Custom Social Media URL in Theme Settings"
        },
        {
            "type": "text",
            "id": "social_header",
            "label": "Social header",
            "default": "Follow us"
        },
        {
            "type": "checkbox",
            "id": "ck_social",
            "label": "Display Social Media?",
            "default": true
        },
        {
            "type": "header",
            "content": "Mobile Apps"
        },
        {
            "type": "text",
            "id": "apps_header",
            "label": "Header",
            "default": "Mobile Apps"
        },
        {
            "type": "text",
            "id": "ios_text",
            "label": "iOS Text",
            "default": "iOS App"
        },
        {
            "type": "url",
            "id": "ios",
            "label": "Link to iOS App"
        },
        {
            "type": "text",
            "id": "android_text",
            "label": "Android Text",
            "default": "Android App"
        },
        {
            "type": "url",
            "id": "android",
            "label": "Link to Android App"
        },
        {
            "type": "checkbox",
            "id": "ck_mobile_apps",
            "label": "Display Mobile Apps?",
            "default": true
        },
        {
            "type": "header",
            "content": "Payment Methods"
        },
        {
            "type": "text",
            "id": "payment_header",
            "label": "Payment Header",
            "default": "We accept"
        },
        {
            "type": "checkbox",
            "id": "ck_payment",
            "label": "Display Payment methods?",
            "default": true
        },
        {
            "type": "header",
            "content": "License, Terms..."
        },
        {
            "type": "text",
            "id": "license",
            "label": "License Text",
            "default": "Zeomart. All Rights Reserved"
        },
        {
            "type": "text",
            "id": "privacy",
            "label": "Privacy Text",
            "default": "Privacy"
        },
        {
            "type": "url",
            "id": "privacy_url",
            "label": "Privacy URL"
        },
        {
            "type": "text",
            "id": "terms",
            "label": "Terms Text",
            "default": "Terms"
        },
        {
            "type": "url",
            "id": "terms_url",
            "label": "Terms URL"
        },
        {
            "type": "text",
            "id": "sitemap",
            "label": "Sitemap Text",
            "default": "Sitemap"
        },
        {
            "type": "url",
            "id": "sitemap_url",
            "label": "Sitemap URL"
        }
    ],
    "max_blocks": 3,
    "blocks":[
        {
            "type": "custom_column",
            "name": "Custom Column",
            "settings": [
                {
                    "type": "text",
                    "id": "header",
                    "label": "Column header",
                    "default": "About Zenmart",
                    "info": "For best result, should have 3 blocks"
                },
                {
                    "type": "header",
                    "content": "Link 1"
                },
                {
                    "type": "text",
                    "id": "link1_title",
                    "label": "Title",
                    "default": "Track Your Order"
                },
                {
                    "type": "url",
                    "id": "link1_url",
                    "label": "URL"
                },
                {
                    "type": "header",
                    "content": "Link 2"
                },
                {
                    "type": "text",
                    "id": "link2_title",
                    "label": "Title",
                    "default": "Product Guides"
                },
                {
                    "type": "url",
                    "id": "link2_url",
                    "label": "URL"
                },
                {
                    "type": "header",
                    "content": "Link 3"
                },
                {
                    "type": "text",
                    "id": "link3_title",
                    "label": "Title",
                    "default": "Wishlists"
                },
                {
                    "type": "url",
                    "id": "link3_url",
                    "label": "URL"
                },
                {
                    "type": "header",
                    "content": "Link 4"
                },
                {
                    "type": "text",
                    "id": "link4_title",
                    "label": "Title",
                    "default": "Privacy Policy"
                },
                {
                    "type": "url",
                    "id": "link4_url",
                    "label": "URL"
                },
                {
                    "type": "header",
                    "content": "Link 5"
                },
                {
                    "type": "text",
                    "id": "link5_title",
                    "label": "Title",
                    "default": "Store Locator"
                },
                {
                    "type": "url",
                    "id": "link5_url",
                    "label": "URL"
                }
            ]
        }
    ]
}
{% endschema %}