{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'header.js' | asset_url | script_tag }}
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
<header>
    {% assign menu = section.settings.menu %}
    {% assign mega = section.settings.mega_menu %}
    {% assign pos = section.settings.megamenu_pos | minus: 1 %}
    {% assign product_mega = 0 %}
    
    {% for block in section.blocks %}
        {% if block.type == "megamenu_product" %}
            {% assign product_mega = product_mega | plus: 1 %}
        {% endif %}
    {% endfor %}

    {% assign collection_list_item = 0 %}
    {% for block in section.blocks %}
        {% if block.type == "browse_collection" %}
            {% assign collection_list_item = collection_list_item | plus: 1 %}
        {% endif %}
    {% endfor %}

    <div class="{{section.id}} header-layout{{section.settings.layout}}">
        <div class="function-wrapper">
            <div class="container">
                <div class="row">
                    <a class="logo col-lg-2 col-xxl-2" href="\home">
                        <img src="{{section.settings.logo | image_url}}">
                    </a>
                    <div class="col-lg-5 col-xxl-6">
                        <div class="search-wrapper row">
                            <div class="category-wrapper">
                                <div class="category">
                                    {{section.settings.dropdown_search}}
                                    {% render "icon-dropdown" %}
                                    <ul class="dropdown-list">
                                        {% for collection in collections %}
                                            <li>
                                                <a class="item" href="{{collection.url}}">{{collection.title | downcase}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="search-container col-9">
                                <predictive-search>
                                    <form class="search-form" action="{{ routes.search_url }}" method="get" role="search">
                                        <input 
                                            id="Search" 
                                            type="search" 
                                            name="q"
                                            value="{{ search.terms | escape }}"
                                            aria-expanded="false"
                                            aria-owns="predictive-search-results"
                                            aria-controls="predictive-search-results"
                                            aria-haspopup="listbox"
                                            aria-autocomplete="list"
                                            placeholder="{{section.settings.placeholder}}"/>
                                        <button class="search-button">
                                            {% render "icon-search" %}
                                        </button>
                                        <div id="predictive-search" tabindex="-1"></div>
                                    </form>
                                </predictive-search>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xxl-4 row function-bar">
                        <a class="wishlist col-lg-4 row" href="#">
                            <div class="icon-wrapper">
                                {%render "icon-heart"%}
                            </div>
                            <div class="function-content">
                                <div class="title">{{section.settings.wishlist_title}}</div>
                                <div class="sub-title">{{section.settings.wishlist_sub_title}}</div>
                            </div>
                        </a>
                        {% if customer %}
                            <a class="signed col-lg-4 row" href="{{routes.account_url}}">
                                <div class="icon-wrapper">
                                    {%render "icon-user"%}
                                </div>
                                <div class="function-content">
                                    <div class="title">{{customer.first_name | truncate: 9,'..'}}</div>
                                    <div class="sub-title">{{section.settings.signin_sub_title}}</div>
                                </div>
                            </a>
                        {% else %}
                          <div class="signin col-lg-4 row">
                              <div class="icon-wrapper">
                                  {%render "icon-user"%}
                              </div>
                              <div class="function-content">
                                  <div class="title">{{section.settings.signin_title}}</div>
                                  <div class="sub-title">{{section.settings.signin_sub_title}}</div>
                              </div>
                          </div>
                        {% endif %}
                        <a class="cart col-lg-4 row" href="{{routes.cart_url}}">
                            <div class="icon-wrapper">
                                {%render "icon-cart"%}
                                <div class="cart-count">
                                    {{cart.item_count}}
                                </div>
                            </div>
                            <div class="function-content">
                                <div class="title">{{cart.original_total_price | money}}</div>
                                <div class="sub-title">{{section.settings.cart_title}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-container">
            <div class="container">
                <div class="col-menu">
                    <div class="collections">
                        {% render "icon-menu" %}
                        {{ section.settings.collection_header }}
                        <div class="col-dropdown-wrapper">
                            <ul class="col-dropdown">
                                {% for block in section.blocks %}
                                    {% if block.type == "browse_collection" %}
                                        <li class="collection-item-wrapper">
                                            <div class="collection-item">
                                                <i class="icon {{block.settings.icon_class}}"></i>
                                                {{ block.settings.collection.title | downcase }}
                                                {% render "icon-dropdown-right" %}
                                            </div>
                                            <ul class="type-tag-wrapper">
                                                {% for product_type in block.settings.collection.all_types %}
                                                    <li class="type-item-wrapper">
                                                        {{ product_type | downcase }}
                                                        <ul class="tag-wrapper">
                                                            <li class="tag-item">
                                                                {{section.settings.link_to_type}} {{ product_type | downcase | link_to_type }}
                                                            </li>
                                                            {% assign tag_array = "" | split: "," %}
                                                            {% for product in block.settings.collection.products %}
                                                                {% if product.type == product_type %}
                                                                    {% assign tag_array = tag_array | concat: product.tags %}
                                                                {% endif %}
                                                            {% endfor%}
                                                            {% assign tag_array = tag_array | uniq %}
                                                            {% for tag in tag_array %}
                                                                <li class="tag-item"><a href="/?constraint={{ tag | handle }}">{{ tag | replace: '-',' ' }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor%}
                                            </ul>
                                        </li>
                                    {% endif%}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <ul class="main-menu">
                            {% for link in menu.links limit: pos %}
                                {% render "menu", link: link %}
                            {% endfor %}
                            {% render "mega-menu", mega: mega, blocks: section.blocks, count: product_mega %}
                            {% for link in menu.links offset: pos %}
                                {% render "menu", link: link %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="quick-link">
                    {% if section.settings.title_1 != "" %}
                        <a class="link" href="{{section.settings.url_1}}">{{section.settings.title_1}}</a>
                    {% endif %}
                    {% if section.settings.title_2 != "" %}
                        <a class="link" href="{{section.settings.url_2}}">{{section.settings.title_2}}</a>
                    {% endif %}
                    {% if section.settings.title_3 != "" %}
                        <a class="link" href="{{section.settings.url_3}}">{{section.settings.title_3}}</a>
                    {% endif %}
                    {% if section.settings.title_4 != "" %}
                        <a class="link" href="{{section.settings.url_4}}">{{section.settings.title_4}}</a>
                    {% endif %}
                    {% if section.settings.title_5 != "" %}
                        <a class="link" href="{{section.settings.url_5}}">{{section.settings.title_5}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mobile-layout">
            <div class="section1-wrapper">
                <div class="menu-logo-wrapper">
                    {% render "icon-menu" %}
                    <div class="close-button">{% render "icon-close" %}</div>
                    <a class="logo" href="\home">
                        <img src="{{section.settings.logo | image_url}}">
                    </a>
                </div>
                <div class="account-cart-wrapper">
                    {% if customer %}
                        <a class="signed" href="{{routes.account_url}}">
                            <div class="icon-wrapper">
                                {%render "icon-user"%}
                            </div>
                        </a>
                    {% else %}
                        <div class="signin">
                            <div class="icon-wrapper">
                                {%render "icon-user"%}
                            </div>
                        </div>
                    {% endif %}
                    <a href="{{routes.cart_url}}">
                        <div class="icon-wrapper">
                            {%render "icon-cart"%}
                            <div class="cart-count">
                                {{cart.item_count}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="section2-wrapper">
                <div class="search-wrapper">
                    <predictive-search>
                        <form class="search-form" action="{{ routes.search_url }}" method="get" role="search">
                            <input 
                                id="Search1" 
                                type="search" 
                                name="q"
                                value="{{ search.terms | escape }}"
                                aria-expanded="false"
                                aria-owns="predictive-search-results"
                                aria-controls="predictive-search-results"
                                aria-haspopup="listbox"
                                aria-autocomplete="list"
                                placeholder="{{section.settings.placeholder}}"/>
                            <button class="search-button">
                                {% render "icon-search" %}
                            </button>
                            <div id="predictive-search" tabindex="-1"></div>
                        </form>
                    </predictive-search>
                </div>
            </div>
        </div>
        <div class="login-container">
            <div class="login-overlay"></div>
            <div class="login-wrapper">
                <div class="login-header">
                    {{ section.settings.login_header }}
                    <div class="close">
                        {% render "icon-close" %}
                    </div>
                </div>
                {% form 'customer_login', return_to: routes.root_url %}
                    {{ form.errors | default_errors }}
            
                    <div class="email">
                    <label for="email">Email address</label>
                    <input type="email" name="customer[email]" placeholder="{{section.settings.email_placeholder}}">
                    </div>
                
                    <div class="password">
                    <label for="password">Password</label>
                    <input type="password" name="customer[password]" placeholder="{{section.settings.password_placeholder}}">
                    </div>
                    
                    <div class="remember-reset">
                        <span>{{section.settings.reset_text}}</span>
                    </div>

                    <div class="submit">
                        <button type="submit" value="Log in">{{section.settings.login_button}}</button>
                    </div>

                    <div class="register-wrapper">
                        <span>{{section.settings.register_pretext}}</span>
                        <span class="register">{{section.settings.register_text}}</span>
                    </div>
                {% endform %}
            </div>
            <div class="recover-container">
                <div class="recover-wrapper">
                    <div class="recover-header">Recover
                        <div class="close">
                            {% render "icon-close" %}
                        </div>
                    </div>
                    {% form 'recover_customer_password' %}
                        {{ form.errors | default_errors }}
                        <div class="email">
                          <label for="email">Email address</label>
                          <input type="email" name="email">
                        </div>
                        <div class="submit">
                          <button type="submit" value="Submit">Submit</button>
                        </div>
                    {% endform %}                      
                </div>
            </div>
            <div class="create-container">
                <div class="create-wrapper">
                    <div class="create-header">Create Your Account
                        <div class="close">
                            {% render "icon-close" %}
                        </div>
                    </div>
                    {% form 'create_customer', return_to: routes.root_url %}
                        {{ form.errors | default_errors }}
                        <div class="first-name">
                          <label for="first-name">First name</label>
                          <input type="text" name="customer[first_name]" placeholder="Enma">
                        </div>
                        <div class="last-name">
                          <label for="last-name">Last name</label>
                          <input type="text" name="customer[last_name]" placeholder="Henessy">
                        </div>
                        <div class="email">
                          <label for="email">Email</label>
                          <input type="email" name="customer[email]" placeholder="Example@zeomart.com">
                        </div>
                        <div class="password">
                          <label for="password">Password</label>
                          <input type="password" name="customer[password]" placeholder="Password">
                        </div>
                        <div class="submit">
                          <button type="submit" value="Create">Create Account</button>
                        </div>
                    {% endform %}                      
                </div>
            </div>
        </div>
    </div>
</header>

{% style %}
    .{{section.id}}, .{{section.id}} a{
        background-color: {{section.settings.background_color}};
        color: {{section.settings.text_color}};
    }
    .{{section.id}} .menu-2 a{
        color: {{section.settings.menu_item_color}};
    }
    .{{section.id}} .menu-2, .{{section.id}} .menu-3{
        background-color: {{section.settings.menu_background_color}};
    }
    .{{section.id}} img{
        width: {{section.settings.logo_width}}px;
    }
    .{{section.id}} svg path, .{{section.id}} svg circle{
        fill: {{section.settings.text_color}};
        stroke: {{section.settings.text_color}};
    }
{% endstyle %}

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Select Layout To Display",
            "options":[
                {
                    "value": "1",
                    "label": "Layout 1"
                },
                {
                    "value": "2",
                    "label": "Layout 2"
                },
                {
                    "value": "3",
                    "label": "Layout 3"
                }
            ],
            "default": "1"
        },
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Choose Logo"
        },
        {
            "type": "number",
            "id": "logo_width",
            "label": "Logo Width(px)"
        },
        {
            "type": "header",
            "content": "Search Form"
        },
        {
            "type": "text",
            "id": "dropdown_search",
            "label": "Dropdown text search option",
            "default": "All Collection"
        },
        {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder text",
            "default": "Search products..."
        },
        {
            "type": "header",
            "content": "Function Bar - Wishlist"
        },
        {
            "type": "text",
            "id": "wishlist_title",
            "label": "Wishlist title",
            "default": "Wishlist"
        },
        {
            "type": "text",
            "id": "wishlist_sub_title",
            "label": "Wishlist sub title",
            "default": "My Items"
        },
        {
            "type": "header",
            "content": "Function Bar - Sign In"
        },
        {
            "type": "text",
            "id": "signin_title",
            "label": "Sign in title",
            "default": "Sign In"
        },
        {
            "type": "text",
            "id": "signin_sub_title",
            "label": "Sign in sub title",
            "default": "Account"
        },
        {
            "type": "header",
            "content": "Function Bar - Cart"
        },
        {
            "type": "text",
            "id": "cart_title",
            "label": "Cart title",
            "default": "Total"
        },
        {
            "type": "header",
            "content": "Browse Collections"
        },
        {
            "type": "text",
            "id": "collection_header",
            "label": "Browse Collections header",
            "default": "Browse Collections"
        },
        {
            "type": "text",
            "id": "link_to_type",
            "label": "Link to Type - Text inner",
            "default": "Show All"
        },
        {
            "type": "header",
            "content": "Menu"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Select Main menu to display",
            "default": "main-menu"
        },
        {
            "type": "header",
            "content": "Mega menu"
        },
        {
            "type": "link_list",
            "id": "mega_menu",
            "label": "Select Mega menu to display"
        },
        {
            "type": "number",
            "id": "megamenu_pos",
            "label": "Position-Order(Exp: 1,2,3..)",
            "default": 2
        },
        {
            "type": "header",
            "content": "Quick Link"
        },
        {
            "type": "text",
            "id": "title_1",
            "label": "Title 1",
            "default": "Quick Link 1"
        },
        {
            "type": "url",
            "id": "url_1",
            "label": "URL 1"
        },
        {
            "type": "text",
            "id": "title_2",
            "label": "Title 2",
            "default": "Quick Link 2"
        },
        {
            "type": "url",
            "id": "url_2",
            "label": "URL 2"
        },
        {
            "type": "text",
            "id": "title_3",
            "label": "Title 3",
            "default": "Quick Link 3"
        },
        {
            "type": "url",
            "id": "url_3",
            "label": "URL 3"
        },
        {
            "type": "text",
            "id": "title_4",
            "label": "Title 4",
            "default": "Quick Link 4"
        },
        {
            "type": "url",
            "id": "url_4",
            "label": "URL 4"
        },
        {
            "type": "text",
            "id": "title_5",
            "label": "Title 5"
        },
        {
            "type": "url",
            "id": "url_5",
            "label": "URL 5"
        },
        {
            "type": "header",
            "content": "Login Form"
        },
        {
            "type": "text",
            "id": "login_header",
            "label": "Header",
            "default": "Sign-In"
        },
        {
            "type": "text",
            "id": "email_placeholder",
            "label": "Email input placeholder",
            "default": "Example@zeomart.com"
        },
        {
            "type": "text",
            "id": "password_placeholder",
            "label": "Password input placeholder",
            "default": "Password"
        },
        {
            "type": "text",
            "id": "reset_text",
            "label": "Reset Password Text",
            "default": "Lost your password?"
        },
        {
            "type": "text",
            "id": "login_button",
            "label": "Log in Button Text",
            "default": "Log in"
        },
        {
            "type": "text",
            "id": "register_pretext",
            "label": "Register pre-text",
            "default": "Don't have an account?"
        },
        {
            "type": "text",
            "id": "register_text",
            "label": "Register text",
            "default": "Create account"
        },
        {
            "type": "header",
            "content": "Color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "menu_item_color",
            "label": "Menu Item Color",
            "default": "#041E42"
        },
        {
            "type": "color",
            "id": "menu_background_color",
            "label": "Menu Background Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#443297"
        },
        {
            "type": "color",
            "id": "second_color",
            "label": "Second Background Color",
            "default": "#F5C34B"
        }
    ],
    "blocks":[
        {
            "type": "megamenu_product",
            "name": "Product in Mega menu",
            "settings":[
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product",
                    "info": "For best result, product should have featured image (.png) with transparent background, width should be greater than or equal to height and the difference is not too big."
                },
                {
                    "type": "checkbox",
                    "id": "min_price",
                    "label": "Show Min price?",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "min_price_text",
                    "label": "Display text before Min price",
                    "default": "Starting from"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link Text",
                    "default": "Shop Now"
                }
            ]
        },
        {
            "type": "browse_collection",
            "name": "Collection Dropdown",
            "settings":[
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collections Item",
                    "info": "Choose collection to display in Dropdown list"
                },
                {
                    "type": "text",
                    "id": "icon_class",
                    "label": "Class of icon",
                    "default": "las la-bell",
                    "info": "Find corresponding icon to the collection in Line-awesome and paste class of this icon to here"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %}