{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'header.js' | asset_url | script_tag }}
<header>
    {% assign menu = section.settings.menu %}
    <div class="{{section.id}} header-layout{{section.settings.layout}}">
        <div class="function-wrapper">
            <div class="container">
                <div class="row">
                    <a class="logo col-lg-2" href="\home">
                        <img src="{{section.settings.logo | image_url}}">
                    </a>
                    <div class="col-lg-6">
                        <div class="search-wrapper row">
                            <div class="category col-3">
                                {{section.settings.category}}
                                {% render "icon-dropdown" %}
                            </div>
                            <div class="search-container col-9">
                                <span class="seperate"></span>
                                <form action="/search">
                                    <input type="text" name="q" placeholder="{{section.settings.placeholder}}"/>
                                    <button class="search-button">
                                        {% render "icon-search" %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 row function-bar">
                        <a class="wishlist col-lg-4 row" href="#">
                            <div class="icon-wrapper">
                                {%render "icon-heart"%}
                            </div>
                            <div>
                                <div class="title">{{section.settings.wishlist_title}}</div>
                                <div class="sub-title">{{section.settings.wishlist_sub_title}}</div>
                            </div>
                        </a>
                        <a class="signin col-lg-4 row" href="#">
                            <div class="icon-wrapper">
                                {%render "icon-user"%}
                            </div>
                            <div>
                                <div class="title">{{section.settings.signin_title}}</div>
                                <div class="sub-title">{{section.settings.signin_sub_title}}</div>
                            </div>
                        </a>
                        <a class="cart col-lg-4 row" href="/cart">
                            <div class="icon-wrapper">
                                {%render "icon-cart"%}
                                <div class="cart-count">
                                    {{cart.item_count}}
                                </div>
                            </div>
                            <div>
                                <div class="title">{{cart.original_total_price | money}}</div>
                                <div class="sub-title">{{section.settings.cart_title}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-container">
            <div class="container">
                <div class="cat-menu">
                    <div class="category">
                        {% render "icon-menu" %}
                        {{ section.settings.cat_header }}
                        <div class="cat-dropdown">
                        
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <ul class="main-menu">
                            {% for link in menu.links %}
                                {% assign child_list_handle = link.title | handle %}
                                {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                                    <li class="has-dropdown menu-item menu-item-1">
                                        {{ link.title | link_to: link.url }}
                                        <ul class="menu-2">
                                            {% for child_link in linklists[child_list_handle].links %}
                                            {% assign grand_child_list_handle = child_link.title | handle %}
                                                {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
                                                    <li class="has-dropdown menu-item menu-item-2">
                                                        {{ child_link.title | link_to: child_link.url }}
                                                        <ul class="menu-3">
                                                            {% for grand_child_link in linklists[grand_child_list_handle].links %}
                                                                <li class="menu-item">
                                                                    {{ grand_child_link.title | link_to: grand_child_link.url }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                        {% render "icon-dropdown-right" %}
                                                        {% comment %} {% render "icon-dropdown-up" %} {% endcomment %}
                                                    </li>
                                                {% else %}
                                                    <li class="menu-item menu-item-2">
                                                        {{ child_link.title | link_to: child_link.url }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        {% render "icon-dropdown-1" %}
                                        {% comment %} {% render "icon-dropdown-up" %} {% endcomment %}
                                    </li>
                                {% else %}
                                    <li class="menu-item menu-item-1">
                                        {{ link.title | link_to: link.url }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% comment %} <div class="menu-overlay"></div> {% endcomment %}
                        </ul>
                    </div>
                </div>
                <div class="quick-link">

                </div>
            </div>
        </div>
    </div>
</header>

{% style %}
    .{{section.id}}, .{{section.id}} a{
        background-color: {{section.settings.background_color}};
        color: {{section.settings.text_color}};
    }
    .{{section.id}} .menu-2 a{
        color: {{section.settings.menu_item_color}};
    }
    .{{section.id}} .menu-2, .{{section.id}} .menu-3{
        background-color: {{section.settings.menu_background_color}};
    }
    .{{section.id}} img{
        width: {{section.settings.logo_width}}px;
    }
    .{{section.id}} svg path, .{{section.id}} svg circle{
        fill: {{section.settings.text_color}};
        stroke: {{section.settings.text_color}};
    }
{% endstyle %}

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Select Layout To Display",
            "options":[
                {
                    "value": "1",
                    "label": "Layout 1"
                },
                {
                    "value": "2",
                    "label": "Layout 2"
                },
                {
                    "value": "3",
                    "label": "Layout 3"
                }
            ],
            "default": "1"
        },
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Choose Logo"
        },
        {
            "type": "number",
            "id": "logo_width",
            "label": "Logo Width(px)"
        },
        {
            "type": "header",
            "content": "Category"
        },
        {
            "type": "text",
            "id": "category",
            "label": "Category text",
            "default": "All Category"
        },
        {
            "type": "header",
            "content": "Search form"
        },
        {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder text",
            "default": "Search products..."
        },
        {
            "type": "header",
            "content": "Function Bar - Wishlist"
        },
        {
            "type": "text",
            "id": "wishlist_title",
            "label": "Wishlist title",
            "default": "Wishlist"
        },
        {
            "type": "text",
            "id": "wishlist_sub_title",
            "label": "Wishlist sub title",
            "default": "My Items"
        },
        {
            "type": "header",
            "content": "Function Bar - Sign In"
        },
        {
            "type": "text",
            "id": "signin_title",
            "label": "Sign in title",
            "default": "Sign In"
        },
        {
            "type": "text",
            "id": "signin_sub_title",
            "label": "Sign in sub title",
            "default": "Account"
        },
        {
            "type": "header",
            "content": "Function Bar - Cart"
        },
        {
            "type": "text",
            "id": "cart_title",
            "label": "Cart title",
            "default": "Total"
        },
        {
            "type": "header",
            "content": "Category"
        },
        {
            "type": "text",
            "id": "cat_header",
            "label": "Category header",
            "default": "Browse Categories"
        },
        {
            "type": "header",
            "content": "Menu"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Select menu to display",
            "default": "main-menu"
        },
        {
            "type": "header",
            "content": "Color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "menu_item_color",
            "label": "Menu Item Color",
            "default": "#041E42"
        },
        {
            "type": "color",
            "id": "menu_background_color",
            "label": "Menu Background Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#443297"
        },
        {
            "type": "color",
            "id": "second_color",
            "label": "Second Background Color",
            "default": "#F5C34B"
        }
    ]
}
{% endschema %}