{{ 'sidebar-menu.css' | asset_url | stylesheet_tag }}
    <div class="{{section.id}} sidebar-menu-container">
        <div class="menu-title">
            {{ section.settings.menu_title }}
        </div>
        <div class="menu-wrapper">
            <ul class="main-menu">
                {% for link in section.settings.menu.links %}
                    {% render "sidebar-menu", link: link %}
                {% endfor %}
            </ul>
        </div>
        {% if section.blocks.size > 0 %}
            <div class="collections">
                <div class="collections-title">
                    {{ section.settings.col_title }}
                </div>
                <ul class="collections-list">
                    {% for block in section.blocks %}
                        <li class="collection-item-wrapper">
                            <a class="collection-item" href="{{block.settings.collection.url}}">
                                <i class="icon {{block.settings.icon_class}}"></i>
                                <div>
                                    {{ block.settings.collection.title | upcase }}
                                </div>
                            </a>
                            <ul class="type-tag-wrapper">
                                <li class="title">
                                    {% render "icon-arrow-left" %}
                                    {{ block.settings.collection.title | upcase }}
                                </li>
                                {% for product_type in block.settings.collection.all_types %}
                                    <li class="type-item-wrapper">
                                        {{ product_type | upcase | link_to_type }}
                                        <ul class="tag-wrapper">
                                            <li class="title">
                                                {% render "icon-arrow-left" %}
                                                {{section.settings.link_to_type}} 
                                                {{ product_type | upcase | link_to_type }}
                                            </li>
                                            {% assign tag_array = "" | split: "," %}
                                            {% for product in block.settings.collection.products %}
                                                {% if product.type == product_type %}
                                                    {% assign tag_array = tag_array | concat: product.tags %}
                                                {% endif %}
                                            {% endfor%}
                                            {% assign tag_array = tag_array | uniq %}
                                            {% for tag in tag_array %}
                                                <li class="tag-item"><a href="/?constraint={{ tag | handle }}">{{ tag | upcase | replace: '-',' ' }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% render "icon-dropdown-right" %}
                                    </li>
                                {% endfor%}
                                {% render "icon-dropdown-right" %}
                            </ul>
                            {% render "icon-dropdown-right" %}
                        </li>
                    {% endfor %}
                </ul>
                <a class="col-more" href="/collections/all">{{ section.settings.col_more}}</a>
            </div>
        {% endif %}
    </div>

{% schema %}
{
    "name": "Sidebar Menu",
    "settings":[
        {
            "type": "header",
            "content": "Menu"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu to display",
            "default": "main-menu"
        },
        {
            "type": "text",
            "id": "menu_title",
            "label": "Menu Title",
            "default": "Menu"
        },
        {
            "type": "header",
            "content": "Collections"
        },
        {
            "type": "text",
            "id": "col_title",
            "label": "Collections Title",
            "default": "Departments"
        },
        {
            "type": "text",
            "id": "col_more",
            "label": "See more text",
            "default": "See More"
        }
    ],
    "blocks":[
        {
            "type": "browse_collection",
            "name": "Collection Dropdown",
            "settings":[
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collections Item",
                    "info": "Choose collection to display in Dropdown list"
                },
                {
                    "type": "text",
                    "id": "icon_class",
                    "label": "Class of icon",
                    "default": "las la-bell",
                    "info": "Find corresponding icon to the collection in Line-awesome and paste class of this icon to here"
                }
            ]
        }
    ]
}
{% endschema %}