{{ 'single-product.css' | asset_url | stylesheet_tag }}
{{ 'vendor.min.js' | asset_url | script_tag | remove: ' type="text/javascript"' }}
{{ 'theme.js' | asset_url | script_tag }}
{{ 'single-product.js' | asset_url | script_tag }}
{{ 'other-single-product.js' | asset_url | script_tag }}

<div class="sp-product-single-info">
    <div class="sp-add-info">
      <ul>
        <li class="sku-js{% if product.selected_or_first_available_variant.sku == '' %} hide{% endif %}">
          <span>sku</span> 
          <span>{{ product.selected_or_first_available_variant.sku }}</span>
        </li>
        <li class="availability">
          <span>availability</span>
          {%- if product.available -%}
            <span class="stock_quantity hide"></span> 
            <span class="in_stock hide">In Stock</span> 
            <span class="many_in_stock hide">many_in_stock</span> 
            <span class="sold_out hide">sold_out</span> 
            <span class="continue_out hide">purchase_when_out_of_stock</span>
          {%- else -%}
            <span class="sold_out">sold_out</span>
          {% endif %}
        </li>
      </ul>
    </div>
  
    <h1 class="sp-title" itemprop="name">{{ product.title }}</h1>
  
    <div>
      <div class="sp-price" content="{{ product.selected_or_first_available_variant.price | divided_by: 100.00 }}">
        <span class="sale-price">{{ product.first_available_variant.price | money }}</span>
        <span class="old-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
      </div>
    </div>
  
    <div class="sp-swatches-container sp-swatches-container-js"></div>
  
  
    {%- if product.available -%}
    {%- capture product_select_options -%}
      {%- if product.selected_variant == blank and product.variants.size > 1 and item.use_select_button -%}
        true
      {%- else -%}
        false
      {%- endif -%}
    {%- endcapture -%}
    <div class="sp-wrapper{% if product_select_options == 'true' %} select_options{% endif %}">
      {%- form 'product', product -%}
      <input type="hidden" class="input_variant" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      <div class="sp-row-custom-01">
        <div class="col-item">
          <div class="sp-input-counter style-01">
            <input type="text" name="quantity" value="1" size="5">
          </div>
        </div>
        <div class="col-item">          
          <button class="btn btn-lg btn-addtocart addtocart-js{% if product_select_options == 'false' and product.selected_variant.available == false %} disable{% endif %}">
            {%- if product_select_options == 'true' -%}select_options_html{%- else -%}{%- if product.selected_variant.available == false -%}unavailable_html{%- else -%}add_to_cart_html{%- endif -%}{%- endif -%}
          </button>
        </div>
      </div>
      <div class="buyinoneclick{% if product_select_options == 'true' %} hide{% endif %}"
           data-buttonname="Buy Now"
           data-loading="Loading">
        {{ form | payment_button }}
      </div>
      {%- endform -%}
  
    </div>
    {%- endif -%}
    
  </div>
  
  
  <script>
    $(function() {
      /* For buy now button */
      function changeBuyNowName(){
        var $buyinoneclick = $('.buyinoneclick');
        var buttonname = $buyinoneclick.data("buttonname");
        var loadname = $buyinoneclick.data("loading");
        if($buyinoneclick.length == 0) return false;
        $buyinoneclick.first().bind('DOMNodeInserted', function() {
          $(this).unbind('DOMNodeInserted');
          var $shopifypaymentbutton = $(this).find(".shopify-payment-button__button");
          if($shopifypaymentbutton.length){
            $buyinoneclick.hide();
            setTimeout(
              function(){
                if($(".shopify-payment-button__button").hasClass("shopify-payment-button__button--branded")){
                  $(".shopify-payment-button__button")
                  .on("click", function(){
                    $(this).parent().replaceWith('<p class="sp-loading-text">' + loadname + '</p>')
                  })
                  .find('span[aria-hidden=true]').first().text(buttonname+' ');
                }
                else{
                  $(".shopify-payment-button__button")
                  .on("click", function(){
                    $(this).parent().replaceWith('<p class="sp-loading-text">' + loadname + '</p>')
                  })
                  .text(buttonname);
                }
                $buyinoneclick.fadeIn()
              }, 300);
          }
        });
      }
      changeBuyNowName();
      
      /* Swatches */
      function productPageJsonLoaded(json_data) {
        var str = '{{ piffc_src | replace: "'", "\\'" }}';
        var sw_history = Boolean({{ item.history }});
        var show_unavailable_options = $('.show_unavailable_variants').length > 0;
        var cur_opt = str != '' ? JSON.parse(str) : '';
        var full_opt = cur_opt != '' ? $.extend( texture_obj, cur_opt ) : texture_obj;
        _selectedByDefault = {% if item.use_select_button %}!(location.search == ''){% else %}true{% endif %};
        var group1 = new SwatchesConstructor(json_data, {contentParent: '.sp-swatches-container-js', enableHistoryState: sw_history, callback: productPageVariant, externalImagesObject: full_opt, externalColors: colors_value, colorWithBorder: color_with_border, productHandle:'{{ product.handle }}', designOption1:'{{ item.designoption1 }}', designOption2:'{{ item.designoption2 }}', designOption3:'{{ item.designoption3 }}', selectedByDefault: _selectedByDefault, show_unavailable_options: show_unavailable_options });
        json_data = null;
        group1 = null;
      };
  
      function productPageVariant(variant, product){
        var _parent = $('.sp-product-single-info');
        var _swatch = _parent.find('.sp-swatches-container-js');
  
        swatchVariantHandler(_parent, variant);
  
        if(location.search == '' && $('.select_options').length && _swatch.children().length){
          return false;
        }
        _parent.find('.select_options').length && _parent.find('.select_options').removeClass('select_options');
        swatchVariantButtonHandler(_parent, variant);
  
        addToCartHandler.initFormAddToCartButton(variant.id, _parent, _swatch);
      }
      Shopify.getProduct('{{ product.handle }}', productPageJsonLoaded);
    });
</script>

<script>
    global_quantity = {};
    {% for variant in product.variants %}
    {% if variant.inventory_policy == "continue" %}
        global_quantity[{{ variant.id }}] = 'continue';
    {% else %}
        global_quantity[{{ variant.id }}] = {{ variant.inventory_quantity }};
    {% endif %}
    {% endfor %}
</script>

{% schema %}
{
    "name": "Single Product",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "options": [
              {
                "value": "1",
                "label": "Layout 1"
              },
              {
                "value": "2",
                "label": "Layout 2"
              },
              {
                "value": "3",
                "label": "Layout 3"
              },
              {
                "value": "4",
                "label": "Layout 4"
              },
              {
                "value": "5",
                "label": "Layout 5"
              }
            ],
            "default": "1"
        },    
        {
            "type": "header",
            "content": "Product Image"
        },      
        {
            "type": "number",
            "id": "count_product",
            "label": "Number of image",
            "default": 3,
            "info": "Max number of product's image to display"
        },
        {
            "type": "header",
            "content": "Product Description"
        },
        {
            "type": "text",
            "id": "description_header",
            "label": "Description Header",
            "default": "Overview"
        },
        {
            "type": "number",
            "id": "count_description",
            "label": "Number word of Product's Description visible",
            "default": 50
        },
        {
            "type": "text",
            "id": "seemore_description",
            "label": "Show more description Text",
            "default": "See More"
        },
        {
            "type": "header",
            "content": "Accordion - Data"
        },
        {
            "type": "text",
            "id": "accordion_header_1",
            "label": "Accordion header 1",
            "default": "More Information",
            "info": "Use Unorder List Information - Block to display content"
        },
        {
            "type": "text",
            "id": "accordion_header_2",
            "label": "Accordion header 2",
            "default": "Details & Specs",
            "info": "Use Table List Information - Block to display content"
        },
        {
            "type": "text",
            "id": "accordion_header_3",
            "label": "Accordion header 3",
            "default": "Shipping and Returns"
        },
        {
            "type": "textarea",
            "id": "accordion_content_3",
            "label": "Accordion content 3",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor aliquam tortor at suscipit. Etiam accumsan, est id vehicula cursus, eros ligula suscipit massa, sed auctor felis mi eu massa. Sed vulputate nisi nibh, vel maximus velit auctor nec. Integer consectetur elementum turpis, nec fermentum ipsum tempor quis. Praesent a quam congue, egestas erat sit amet, finibus justo. Quisque viverra neque vehicula eros gravida ultricies. Ut lacinia enim nec consequat tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus ultricies ornare feugiat. Donec vitae rhoncus sapien, ac aliquet nunc."
        },
        {
            "type": "text",
            "id": "accordion_header_4",
            "label": "Accordion header 4",
            "default": "Lorem ipsum"
        },
        {
            "type": "textarea",
            "id": "accordion_content_4",
            "label": "Accordion content 4",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor aliquam tortor at suscipit. Etiam accumsan, est id vehicula cursus, eros ligula suscipit massa, sed auctor felis mi eu massa. Sed vulputate nisi nibh, vel maximus velit auctor nec. Integer consectetur elementum turpis, nec fermentum ipsum tempor quis. Praesent a quam congue, egestas erat sit amet, finibus justo. Quisque viverra neque vehicula eros gravida ultricies. Ut lacinia enim nec consequat tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus ultricies ornare feugiat. Donec vitae rhoncus sapien, ac aliquet nunc."
        },
        {
            "type": "text",
            "id": "accordion_header_5",
            "label": "Accordion header 5",
            "default": "Questions and Answers",
            "info": "Use QnA Block to display content"
        },
        {
            "type": "text",
            "id": "accordion_button_5",
            "label": "Accordion 5 Text Button",
            "default": "Explore all questions"
        },
        {
            "type": "url",
            "id": "accordion_5_url",
            "label": "Accordion 5 URL"
        },
        {
            "type": "text",
            "id": "accordion_header_6",
            "label": "Accordion header 6",
            "default": "Customer Reviews",
            "info": "Use Review Block to display content"
        },
        {
            "type": "number",
            "id": "review_5",
            "label": "Total number of reviews - 5*",
            "default": 35
        },
        {
            "type": "number",
            "id": "review_4",
            "label": "Total number of reviews - 4*",
            "default": 10
        },
        {
            "type": "number",
            "id": "review_3",
            "label": "Total number of reviews - 3*",
            "default": 5
        },
        {
            "type": "number",
            "id": "review_2",
            "label": "Total number of reviews - 2*",
            "default": 2
        },
        {
            "type": "number",
            "id": "review_1",
            "label": "Total number of reviews - 1*",
            "default": 1
        },
        {
            "type": "header",
            "content": "Table data",
            "info": "Custom Accordion 2 Style"
        },
        {
            "type": "select",
            "id": "table_align",
            "label": "Table Alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "range",
            "id": "table_size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Table font Size",
            "default": 16
        },
        {
            "type": "color",
            "id": "row_color",
            "label": "Row color interleaved",
            "default": "#f1f1f1"
        },
        {
            "type": "header",
            "content": "Product Price"
        },
        {
            "type": "text",
            "id": "sold_out",
            "label": "Sold Out Text",
            "default": "Sold Out"
        }
    ],
    "blocks": [
        {
            "type": "unorder_list_info",
            "name": "Unorder List Infomation",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "Example Text"
                },
                {
                    "type": "range",
                    "id": "size",
                    "min": 12,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Font Size",
                    "default": 16
                },
                {
                    "type": "select",
                    "id": "weight",
                    "label": "Weight",
                    "options": [
                        {
                        "value": "400",
                        "label": "Regular"
                        },
                        {
                        "value": "500",
                        "label": "Bold"
                        }
                    ],
                    "default": "400"
                },
                {
                    "type": "checkbox",
                    "id": "marked",
                    "label": "Marked with Bullets",
                    "default": true
                },
                {
                    "type": "range",
                    "id": "margin_top",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Margin Top",
                    "default": 20
                },    
                {
                    "type": "range",
                    "id": "margin_bottom",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Margin Bottom",
                    "default": 16
                }                             
            ]
        },
        {
            "type": "table_list_info",
            "name": "Table List Infomation",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Column 1 Data",
                    "default": "Column 1"
                },
                {
                    "type": "text",
                    "id": "content",
                    "label": "Column 2 Data",
                    "default": "Column 2"
                },
                {
                    "type": "checkbox",
                    "id": "ck_header",
                    "label": "Table Header",
                    "default": false
                }
            ]
        },
        {
            "type": "qna",
            "name": "Questions and Answers",
            "settings": [
                {
                    "type": "textarea",
                    "id": "question",
                    "label": "Question content",
                    "default": "Q: Can dvds be played on apple computers?"
                },
                {
                    "type": "textarea",
                    "id": "question_info",
                    "label": "Question Information",
                    "default": "Asked by Moba - May 14, 2022 on zenmart.com"
                },
                {
                    "type": "textarea",
                    "id": "answer",
                    "label": "Answer content",
                    "default": "A: If you buy a separate CD/DVD drive."
                },
                {
                    "type": "textarea",
                    "id": "answer_info",
                    "label": "Answer Information",
                    "default": "Answered by TFN-Store - May 24, 2022"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Single Product"
        }
    ]
}
{% endschema %}