<div class="text-section-{{ section.id }} background-color-{{ section.settings.background_color }}">
    {% if section.settings.ck_width %}
        <div class="text-section-inner">
    {% else %}
        <div class="container">
    {% endif%}
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'title' -%}
                <div style="text-align: {{ block.settings.title_alignment }};" {{ block.shopify_attributes }}>
                    <a class="{% if block.settings.title_font == "primary" %}font-primary{% else %}font-secondary{% endif %}" href="{{ block.settings.title_link }}" 
                        style="font-weight: 600; 
                        line-height: {{ block.settings.title_height }}px; 
                        color: {{ block.settings.title_color }}; 
                        font-size: {{ block.settings.title_size }}px;">{{ block.settings.title | escape }}</a>
                </div>
            {%- when 'content' -%} 
                <div style="text-align: {{ block.settings.content_alignment }};" {{ block.shopify_attributes }}>
                    <a class="{% if block.settings.content_font == "primary" %}font-primary{% else %}font-secondary{% endif %}" 
                        href="{{ block.settings.content_link }}" 
                        style="line-height: {{ block.settings.content_height }}px; 
                        color: {{ block.settings.content_color }}; 
                        font-size: {{ block.settings.content_size }}px;">{{ block.settings.content | escape }}</a>
                </div>
        {%- endcase -%}
    {%- endfor %}
    </div>
</div>
{% style %}
    .text-section-{{ section.id }}{
        background-color: {{ section.settings.background_color }};
        padding-top:{{ section.settings.margin_top }}px;
        padding-bottom:{{ section.settings.margin_bottom }}px;
    }
{% endstyle %}

{% schema %}
{
    "name": "Text Sections",
    "max_blocks": 6,
    "blocks": [
        {
            "type": "title",
            "name": "Title",
            "settings": [
                {
                    "type": "textarea",
                    "id": "title",
                    "label": "Content",
                    "default": "Title"
                },
                {
                    "type": "range",
                    "id": "title_size",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Font size",
                    "default": 30
                },
                {
                    "type": "url",
                    "id": "title_link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "title_alignment",
                    "options": [
                        {
                        "value": "left",
                        "label": "Left"
                        },
                        {
                        "value": "center",
                        "label": "Center"
                        },
                        {
                        "value": "right",
                        "label": "Right"
                        }
                    ],
                    "default": "center",
                    "label": "Alignment"
                },
                {
                    "type": "range",
                    "id": "title_height",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Height",
                    "default": 50
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "Text color",
                    "default": "#333333"
                },
                {
                    "type": "select",
                    "id": "title_font",
                    "label": "Font style",
                    "options":[
                        {
                            "value":"primary",
                            "label": "Primary Font"
                        },
                        {
                            "value":"secondary",
                            "label": "Secondary Font"
                        }
                    ],
                    "default": "primary"
                }
            ]
        },
        {
            "type": "content",
            "name": "Content",
            "settings": [
                {
                    "type": "textarea",
                    "id": "content",
                    "default": "Welcome to our store",
                    "label": "Content"
                },
                {
                    "type": "range",
                    "id": "content_size",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Font size",
                    "default": 20
                },
                {
                    "type": "url",
                    "id": "content_link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                    ],
                    "default": "center",
                    "label": "Alignment"
                },
                {
                    "type": "range",
                    "id": "content_height",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Height",
                    "default": 50
                },
                {
                    "type": "color",
                    "id": "content_color",
                    "label": "Color",
                    "default": "#333333"
                },
                {
                    "type": "select",
                    "id": "content_font",
                    "label": "Font style",
                    "options":[
                        {
                            "value":"primary",
                            "label": "Primary Font"
                        },
                        {
                            "value":"secondary",
                            "label": "Secondary Font"
                        }
                    ],
                    "default": "primary"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Margin Top",
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Margin Bottom",
            "default": 0
        },
        {
            "type": "checkbox",
            "id": "ck_width",
            "label": "Display full width",
            "default": false
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "options":[
                {
                    "value": "primary_color",
                    "label": "Primary color"
                },
                {
                    "value": "secondary_color",
                    "label": "Secondary color"
                },
                {
                    "value": "bg_color_1",
                    "label": "Background color 1"
                }
            ],
            "default": "primary_color"
        }
    ],
    "presets": [
        {
            "name": "Text Section",
            "blocks": [
                {
                    "type": "title"
                },
                {
                    "type": "content"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": ["*"]
    }
}
{% endschema %}
