<img src="{{ article.image | image_url: width: 200 }}">
<h1>abc</h1>
<p>{{ article.title }}</p>
<p>{{ article.content }}</p>
<p>{{ article.excerpt }}</p>
<p>{{ article.published_at | date: '%B %d, %Y' }}</p>

{% if article.comments_enabled? %}
    {% form 'new_comment', article %}
        <div class="name">
            <label for="name">Name</label>
            <input type="text" name="comment[author]" value="{{ form.author }}">
        </div>

        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="comment[email]" value="{{ form.email }}">
        </div>

        <div class="comment">
            <label for="comment">Comment</label>
            <textarea name="comment[body]">{{ form.body }}</textarea>
        </div>

        <div class="submit">
        <input type="submit" value="Post">
        </div>
    {% endform %}
    {% for comment in article.comments %}
        <div>{{ comment.author }}</div>
        <div>{{ comment.content }}</div>
        <div>{{ comment.created_at | date: '%B %d, %Y' }}</div>
    {% endfor %}
{% endif %}